#credentialsPane,
#purchasePane {
	-fx-background-color: #ffffff;
}

.pane-background {
    -fx-background-color: #E8E8E8;
}


#main_pane{
   -fx-background-color:#E8E8E8;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 2, 2);
    -fx-border-width: 3px;
    -fx-border-color: #413e4a;
}

#cb_card_year, #cb_card_month{
    -fx-font-size:18px;
}

#pane_title{
    -fx-color: #413e4a;
}