.title-label {
	-fx-font-size: 24 pt;
}

.price-label {
	-fx-font-size: 24 pt;
	-fx-text-fill: #333D32;
	-fx-font-family: "Trebuchet MS";
}

.suffix-label {
	-fx-font-size: 14 pt;
	-fx-text-fill: black;
	-fx-font-family: "Helvetica";
}

.tile-pane, 
.scroll-pane {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: -itempane-color;
}

.button {
	-fx-background-color: -buy-button-color;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 3, 0, 0, 0;
    -fx-border-width: 0 0 0 0, 0, 0, 0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.button .text {
	-fx-fill: white;
	-fx-effect: dropshadow( one-pass-box , rgba(100, 100, 100, 0.5) , 0, 0.0 , 0 , 1 );
	-fx-font-size: 18 pt;
}

.button:hover {
	-fx-background-color: derive(-buy-button-color, -10%);
	
}

.item-display {
	-fx-border-width: 1px;
	-fx-border-color: #eeeeee;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}