.title-label {
	-fx-font-size: 24 pt;
}

.price-label {
	-fx-font-size: 24 pt;
	-fx-text-fill: #333D32;
	-fx-font-family: "Trebuchet MS";
}

.suffix-label {
	-fx-font-size: 14 pt;
	-fx-text-fill: black;
	-fx-font-family: "Helvetica";
}

.tile-pane, 
.scroll-pane {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: -itempane-color;
    -fx-padding: 0;
}

.button {
	-fx-background-color: -buy-button-color;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 2;
    -fx-border-width: 0 0 0 0, 0, 0, 0;
}

.button .text {
	-fx-fill: white;
	-fx-font-size: 20 pt;
	-fx-font-weight: bold;
}

.button:hover {
	-fx-background-color: derive(-buy-button-color, 40%)	
}

.item-display {
	-fx-background-color: -bg-color;
	-fx-border-width: 1px;
	-fx-border-color: #eeeeee;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

/* SCROLL BARS */
/** CSS **/

/* The main scrollbar CSS class of ListView */
.scroll-pane .scroll-bar:horizontal ,
.scroll-pane  .scroll-bar:vertical{
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
    -fx-border-radius: 0em;
}

/* The increment and decrement button CSS class of scrollbar */
.scroll-pane .increment-button ,.scroll-pane .decrement-button {
    -fx-background-color:transparent;
	-fx-border-color: transparent;
}

/* The main scrollbar **track** CSS class  */
.scroll-pane .scroll-bar:horizontal .track ,
.scroll-pane .scroll-bar:vertical .track{
     -fx-background-color: derive(gray, 95%);
     -fx-border-width: 0px;
	 -fx-background-radius: 0em;
	 -fx-padding: 0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-pane .scroll-bar:horizontal .thumb,
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: derive(-scroll-thumb-color, 30%);
    -fx-background-radius: 0em;
}

/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */


/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
.scroll-pane .scroll-bar .thumb:hover {
    -fx-background-color: derive(-scroll-thumb-color,15%);
}

.scroll-pane .scroll-bar .thumb:pressed {
	-fx-background-color: -scroll-thumb-color;
}

/* The increment and decrement button CSS class of scrollbar */

.scroll-pane .scroll-bar:vertical .increment-button ,
.scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: derive(gray, 95%);

}