* {
	-fx-glass-color: fafafa;
	-fx-tab-bg-color: #36750f;
	-fx-back-color: #b9d677;
}

#modalTop {
	-fx-background-color: rgba(255, 255, 255, 0.9);
}

#rootPane {
  -fx-alignment: center;
  -fx-background-color: transparent;
  -fx-border-color: derive(-fx-glass-color, -40%);
  -fx-border-width: 1;
}

#background {
	-fx-background-color: linear-gradient(to bottom, derive(-fx-glass-color, 20%), -fx-glass-color);
}

.button {
	-fx-background-color: linear-gradient(to top, derive(-fx-back-color, 25%), derive(-fx-back-color, 35%));
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0 0 0 0, 0, 0, 0;
    -fx-border-width: 0 0 0 0, 0, 0, 0;
}

.button:hover {
	-fx-background-color: linear-gradient(to top, derive(-fx-back-color, 35%), derive(-fx-back-color, 45%));
}