.label {
	-fx-font-size: 18pt;
}

#modalTop,
#content {
	-fx-border-width: 1px;
	-fx-border-radius: 2;
	-fx-background-radius: 2;
	-fx-border-color: black;
}

#content .label {
	-fx-font-size: 14pt;
}

#listName {
	-fx-font-weight: bold;
}

#modalTop {
	-fx-background-color: #eaeaea;
	-fx-border-style: solid solid hidden solid;
}

.bottomPane {
	-fx-background-color: rgba(0, 0, 0, 0.2);
}

#content {
	-fx-background-color: white;
	-fx-border-style: hidden solid solid solid;
}

#tableBox {
	-fx-background-color: white;
	-fx-border-width: 1px;
	-fx-border-color: #dddddd;
}

.table-view .label .text {
	-fx-fill: #c6ab96;
}

.title {
	-fx-font-size: 24pt;
}
.button {
	-fx-background-color: #b8d378, #b8d378;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 3, 0, 0, 0;
    -fx-border-width: 0 0 0 0, 0, 0, 0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
.button .text {
	-fx-fill: white;
	-fx-effect: dropshadow( one-pass-box , rgba(100, 100, 100, 0.5) , 0, 0.0 , 0 , 1 );
	-fx-font-size: 14 pt;
}


#lblName{
	-fx-font-size: 14pt;
}