* {
	-fx-glass-color: rgba(111, 194, 56, 0.9);
	-fx-tab-bg-color: #36750f;
	-fx-back-color: #6fc238;
	-fx-start-color: #F8F8EC;
	
	-itempane-color: white;
	-buy-button-color: 	#ff3030;
}

#modalTop,
#content {
	-fx-border-width: 1px;
	-fx-border-color: black;
}

#modalTop {
	-fx-background-color: #eaeaea;
	-fx-border-style: solid solid hidden solid;
	-fx-border-radius: 2 2 0 0;
	-fx-background-radius: 2 2 0 0;
}

#order-overview-box .label {
	-fx-font-family: "Crimson Text";
}

.label-order-overview-day-month .text {
	-fx-fill: #474747;
	-fx-font-size: 24 pt;
}

.label-order-overview-year .text {
	-fx-fill: #757575;
	-fx-font-size: 20 pt;
}

/* The wrapper list-view for all order overviews */
#order-overview-box {
	-fx-background-color: white;
}

.order-box {
}

.item-in-history-box {
	-fx-background-color: transparent;
}

.item-in-history-box:hover {
	-fx-background-color: #325711;
}

.item-in-history-box > .item-name .text {
	-fx-font-size: 20 pt;
	-fx-fill: #474747;
}

/* TEMP */
.item-in-history-box > .item-price {
}

.item-in-history-box > .item-quantity .text {
	-fx-font-size: 16 pt;
	-fx-fill: #5E5E5E;
}

.item-in-history-box > .item-price .text {
	-fx-font-family: "Corpse";
	-fx-font-size: 20 pt;
	-fx-fill: #1A1A1A;
}

.bottomPane {
	-fx-background-color: rgba(0, 0, 0, 0.2);
}

#content {
	-fx-background-color: white;
	-fx-border-style: hidden solid solid solid;
	-fx-border-radius: 0;
	-fx-background-radius: 0;
}

#productListBox {
	-fx-background-color: white;
	-fx-border-width: 1px;
	-fx-border-color: #dddddd;
}

.title {
	-fx-font-size: 24pt;
}

/* ListView styling */
.list-view {
	-fx-background-insets: 0;
    -fx-padding: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.list-cell {
	-fx-padding: 0;
}

.list-cell:even,
.list-cell:odd {
    -fx-background-color: white;
}

/* When the list-cell is selected and focused */
.list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: transparent, transparent, transparent;
    -fx-background-insets: 0;
}

/* Separator */
.separator {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.separator:vertical .line {
    -fx-border-color: transparent transparent transparent #BDBDBD;
    -fx-border-width: 1;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}