#purchasePane {
	-fx-background-color: #ffffff;
}

.normal-background {
    -fx-background-color: #f2f2f2;
}

#main-pane {
   -fx-background-color: #f2f2f2;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 2, 2);
    -fx-border-width: 1px;
    -fx-border-color: #413e4a;
}

#cb_card_year, #cb_card_month, #cb_delivery_date, #cb_delivery_time{
    -fx-font-size: 18px;
}

.info-text {
	-fx-font-size: 21;
	-fx-fill: derive(black, 10%);
}

.pay-method-label .text {
	-fx-font-size: 26 pt;
	-fx-fill: #394039;
	-fx-font-family: Tahoma, Geneva, sans-serif;
}

.header .text {
	-fx-font-size: 21;
	-fx-fill: #413e4a;
}

.payment-box {
	-fx-background-color: #f2f2f2;
	-fx-border-width: 1px;
	-fx-border-style: solid hidden solid hidden;
	-fx-border-color: derive(#f2f2f2, -25%);
	-fx-cursor: hand;
}

.payment-box:hover {
	-fx-border-width: 1px;
	-fx-border-color: #73a564;
	-fx-border-style: solid;
}

.payment-box:hover .label .text {
	-fx-fill: #73a564;
}

.selected-pay-box {
	-fx-border-width: 2px;
	-fx-border-color: #73a564;
	-fx-border-style: solid;
	-fx-background-color: #f5f5f5;
	-fx-cursor: normal;
}

.selected-pay-box:hover {
	-fx-border-width: 2px;
	-fx-border-color: #73a564;
	-fx-border-style: solid;
	-fx-background-color: #f5f5f5;
}

.selected-pay-box .label .text {
	-fx-fill: #73a564;
}

#pay-box1 {
	-fx-border-radius: 3 0 0 3;
	-fx-border-style: solid;
}

#pay-box2 {
	-fx-border-radius: 0;
}

#pay-box3 {
	-fx-border-radius: 0 3 3 0;
	-fx-border-style: solid;
}

.selected-pay-box:hover {
	-fx-background-color: derive(#f2f2f2, 20%);
}

.flow-pane {
	-fx-background-color: #f2f2f2;
}

.choice-box {
	-fx-border-radius: 0px;
	-fx-background-radius: 0px;
	-fx-background-color: derive(white, -10%);
}

#pane-title .text {
	-fx-font-size: 42 pt;
    -fx-fill: #413e4a;
}

.togglebutton{
    -fx-opacity: 0.8;
}

.togglebutton:selected{
    -fx-opacity: 1;
}