#content {
	-fx-border-style: hidden;
	-fx-background-color: white;
}

#modalTop {
	-fx-background-color: #eaeaea;
	-fx-border-style: hidden;
	-fx-background-radius: 2 2 0 0;
}

.descriptor-label {
	-fx-font-size: 20 pt;
	-fx-fill: #474747;
	-fx-font-weight: bold;
}

#order-overview-box .label {
	-fx-font-family: "Helvetica";
}

.label-order-overview-day-month .text {
	-fx-fill: #474747;
	-fx-font-size: 24 pt;
}

.label-order-overview-year .text {
	-fx-fill: #757575;
	-fx-font-size: 20 pt;
}

/* The wrapper list-view for all order overviews */
#order-overview-box {
	-fx-background-color: white;
	-fx-border-style: hidden;
}

#order-overview-box .list-cell:even {
	-fx-background-color: transparent;
}

#order-overview-box .list-cell:odd {
	-fx-background-color: transparent;
}

#order-overview-box .list-cell:filled {
	-fx-background-color: #c5dacb;
}

#order-overview-box .list-cell:filled:hover {
	-fx-background-color: derive(#AFE3BE, 20%);
}

/* The box that holds a single order overview */
#order-overview-box .list-cell:unselected {
	-fx-border-width: 0 1 0 1;
	-fx-border-color: #AFE3BE;
}

#order-overview-box .list-cell:selected {
	-fx-border-width: 0;
	-fx-background-color: #2FA147;
}

#order-overview-box .list-cell:selected .text {
	-fx-fill: white;
}

#order-overview-box .list-cell:selected:hover {
	-fx-border-width: 0;
	-fx-background-color: derive(#2FA147, 10%);
}



.item-in-history-box {
	-fx-background-color: transparent;
}

.item-in-history-box:hover {
	-fx-background-color: #325711;
}

.item-in-history-box > .item-name .text {
	-fx-font-size: 20 pt;
	-fx-fill: #474747;
}

/* TEMP */
.item-in-history-box > .item-price {
}

.item-in-history-box > .item-quantity .text {
	-fx-font-size: 16 pt;
	-fx-fill: #5E5E5E;
}

.item-in-history-box > .item-price .text {
	-fx-font-family: "Helvetica";
	-fx-font-size: 20 pt;
	-fx-fill: #1A1A1A;
}

.bottomPane {
	-fx-background-color: rgba(0, 0, 0, 0.2);
}

#productListBox {
	-fx-background-color: white;
	-fx-border-width: 1px;
	-fx-border-color: #dddddd;
}

.title {
	-fx-font-size: 24pt;
}

.header .text {
	-fx-font-size: 24pt;
	-fx-fill: -header-color;
	-fx-font-family: "Helvetica";
}

.light-text .text {
	-fx-font-size: 22pt;
	-fx-fill: white;
}

.price-label .text {
	-fx-font-size: 22pt;
	-fx-fill: derive(gray, 20%);
}

#order-id .text {
	-fx-font-size: 16pt;
	-fx-fill: #757575;
}

/* ListView styling */
.list-view {
	-fx-background-insets: 0;
    -fx-padding: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.list-cell {
	-fx-padding: 0;
}

#product-list-view {
	-fx-border-style: solid hidden hidden hidden, solid hidden hidden hidden;
	-fx-border-color: #a3a3a3, #cccccc;
	-fx-border-width: 2 0 0 0, 1 0 0 0;
	-fx-border-insets: 1 0 0 0, 0;
}

#product-list-view .list-cell:even,
#product-list-view .list-cell:odd {
    -fx-background-color: white;
}

/* When the list-cell is selected and focused */
#product-list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: transparent, transparent, transparent;
    -fx-background-insets: 0;
}

/* Separator */
.separator {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.separator:vertical .line {
    -fx-border-color: transparent transparent transparent #BDBDBD;
    -fx-border-width: 1;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

#order-overview-box{
	-fx-border-color:derive(gray,80%);
}

/* SCROLL BARS */
/** CSS **/

/* The main scrollbar CSS class of ListView */
#order-overview-box .scroll-bar:horizontal ,
#order-overview-box  .scroll-bar:vertical{
    -fx-background-color:transparent;
	-fx-background-radius: 2em;
    -fx-border-radius: 2em;
}

/* The increment and decrement button CSS class of scrollbar */
#order-overview-box .increment-button ,#order-overview-box .decrement-button {
    -fx-background-color:transparent;
	-fx-border-color: transparent;
}

/* The main scrollbar **track** CSS class  */
#order-overview-box .scroll-bar:horizontal .track ,
#order-overview-box .scroll-bar:vertical .track{
     -fx-background-color: transparent;
	 -fx-border-color:derive(gray,80%);
	 -fx-background-radius: 0em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
#order-overview-box .scroll-bar:horizontal .thumb,
#order-overview-box .scroll-bar:vertical .thumb {
    -fx-background-color: derive(-scroll-thumb-color, 30%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */

/* The main scrollbar **track** CSS class on event of "hover" and "pressed" */
#order-overview-box .scroll-bar:vertical {
	-fx-background-color: transparent;
	-fx-padding: 0;
	-fx-background-insets: 0;
}

#order-overview-box .scroll-bar:horizontal {
	-fx-background-radius: 2em;
    -fx-border-radius: 2em, 2em;
}

#order-overview-box .scroll-bar:horizontal:hover .track ,
#order-overview-box .scroll-bar:horizontal:pressed .track {
	/*-fx-background-radius: 0em;
    -fx-border-radius: 2em;*/
}

/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
#order-overview-box .scroll-bar .thumb:hover {
    -fx-background-color: derive(-scroll-thumb-color,15%);
}

#order-overview-box .scroll-bar .thumb:pressed {
	-fx-background-color: -scroll-thumb-color;
}


/* The increment and decrement button CSS class of scrollbar */
#order-overview-box .scroll-bar:horizontal .increment-button ,
#order-overview-box .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius: 0em;
	-fx-border-color: transparent;
	-fx-padding: 0.75em 0 0.75em 0;
}

/* The increment and decrement button CSS class of scrollbar */

#order-overview-box .scroll-bar:vertical .increment-button ,
#order-overview-box .scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 0 0;

}

#order-overview-box  .scroll-bar .increment-arrow,
#order-overview-box  .scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding: 0;
}