
/* DEFAULT COLORS: 
 * -tab-bg-color: #36750f;
 * -background-color: #6fc238;
 */
/* Configure colors here and use derivations elsewhere*/
* {
	-fx-glass-color: rgba(111.0, 194.0, 56.0, 0.9);
	-fx-tab-bg-color: #36750f;
	-fx-back-color: #6fc238;
	-fx-start-color: #f3f3f3;
	-fx-fruit-color: #90cf7d;
	-fx-drinks-color: #FDB827;
	-fx-meat-color: #f8a762;
	-fx-dairy-color: #e97577;
	-fx-cabinet-color: #b577b6;
	-fx-fridaycuddling-color: #4cbae6;
	-fx-main-color: #f3f3f3;
	-bg-color: white;
	
	-itempane-color: white;
	
	-buy-button-color: #90cf7d;
	-main-text-color: #000000;
	-list-item-selected-color: #c1c1c1;
	-list-item-even-color: white;
	-list-item-odd-color: #f9f9f9;
	-header-color: #474747;
	-scroll-thumb-color: #737373;
}

.backdrop {
	-fx-background-color: -itempane-color;
}

#red {
	-fx-border-width: 1px;
	-fx-border-color: red;
}

.bad-input,
.bad-input:selected {
    -fx-border-width: 1px;
    -fx-border-color: #ec5446;
    -fx-border-radius: 0 3 3 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.good-input,
.good-input:selected {
    -fx-border-width: 1px;
    -fx-border-radius: 0 3 3 0;
	-fx-border-color: #90cf7d;
	
	-fx-faint-focus-color: transparent;
	-fx-focus-color: transparent;
}

.button:hover,
.navigation-button:hover,
.arrow-button:hover,
.order-box,
.tab {
	-fx-cursor: hand;
}

#searchTab {
	-fx-cursor: normal;
}

.tab .flow-pane {
	-fx-border-width: 1px;
	-fx-border-color: red;
}

.tab:disabled {
	-fx-cursor: normal;
}

.split-pane > .split-pane-divider {  
    -fx-border-width: 2.0;  
    -fx-background-color: rgba(0.0,0.0,0.0,0.0);
}

#shopping-cart-list .scroll-bar:horizontal .increment-arrow,
#shopping-cart-list .scroll-bar:horizontal .decrement-arrow,
#shopping-cart-list .scroll-bar:horizontal .increment-button,
#shopping-cart-list .scroll-bar:horizontal .decrement-button {
    -fx-padding:0.0;
}

.nav-button {
	-fx-background-color: transparent;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 1, 0.0 , 0 , 1 );
}

.nav-button:hover{
	-fx-opacity:0.7;
}

.arrow-button:hover{
	-fx-opacity:0.7;
}

.base-style{
	-fx-background-color: -fx-main-color;
}

.history-button {
	-fx-background-color: #F3F3F3, #F3F3F3;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 3, 0, 0, 0;
    -fx-border-width: 0 0 0 0, 0, 0, 0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
.history-button .text {
	-fx-fill: black;
	-fx-font-size: 20 pt;
}
.history-button:hover {
	-fx-background-color: derive(F3F3F3, -10%);
}
.nav-button:hover {
	-fx-imageview: derive(F3F3F3, -10%);
}

/* Navigation button */
.navigation-button:disabled {
	-fx-opacity: 1;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 0, 0.0 , 0 , 0);
}

/* Search */
#search-field {
	-fx-background-image:url("../resources/search.png");
	-fx-background-size: 42, 28;
  	-fx-background-repeat: no-repeat;
  	-fx-background-position: right center;
  	-fx-font-size: 20;
}

.top-header-button {
	-fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.smart-text-field {
	-fx-border-radius: 0 3 3 0;
	-fx-background-radius: 0 3 3 0;
}

.smart-text-field {
	-fx-font-size: 18 pt;
}

.smart-text-field:prompt {
	-fx-font-size: 18 pt;
}

/* The error label for SmartTextField */
.error-label .text {
	-fx-font-size: 16 pt;
	-fx-fill: #be1809;
}

/* The asterix on SmartTextField */
.asterix-label .text {
	-fx-font-size: 18pt;
	-fx-fill: derive(#e55933, 85%);
}

.tooltip{
     -fx-background-radius: 0 0 0 0;
     -fx-font-size:1.5em;
}

.topButtons{
    -fx-background-color:transparent;
    -fx-margin:0;
    -fx-padding:0;
}

.topImage{
    -fx-margin:0;
    -fx-padding:0;
}
.line-between-nav-button{
    -fx-margin:0;
    -fx-padding:0;
}

.modal-popup-exit-button:hover {
	-fx-opacity: 0.7;
}

/* SCROLL BARS */
/** CSS **/

/* The main scrollbar CSS class of ListView */
.scroll-bar:horizontal ,
.scroll-bar:vertical{
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
    -fx-border-radius: 0em;
}

/* The increment and decrement button CSS class of scrollbar */
.increment-button ,.scroll-pane .decrement-button {
    -fx-background-color:transparent;
	-fx-border-color: transparent;
}

/* The main scrollbar **track** CSS class  */
.scroll-bar:horizontal .track ,
.scroll-bar:vertical .track{
     -fx-background-color: derive(gray, 95%);
     -fx-border-width: 0px;
	 -fx-background-radius: 0em;
	 -fx-padding: 0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(-scroll-thumb-color, 30%);
    -fx-background-radius: 0em;
}

/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */


/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
.scroll-bar .thumb:hover {
    -fx-background-color: derive(-scroll-thumb-color,15%);
}

.scroll-bar .thumb:pressed {
	-fx-background-color: -scroll-thumb-color;
}

/* The increment and decrement button CSS class of scrollbar */

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: derive(gray, 95%);
}

.navigation-button{
	-fx-margin:0;
    -fx-padding:0;
}
.round-nav-button{
	-fx-margin:0;
    -fx-padding:0;
}
#line-crossing-buttons *.line {
	-fx-border-width: 2 0 2 0;
	-fx-border-color: derive(gray, 70%);
}