
/* DEFAULT COLORS: 
 * -tab-bg-color: #36750f;
 * -background-color: #6fc238;
 */
/* Configure colors here and use derivations elsewhere*/
* {
	-fx-glass-color: rgba(111.0, 194.0, 56.0, 0.9);
	-fx-tab-bg-color: #36750f;
	-fx-back-color: #6fc238;
	-fx-start-color: #F3F3F3;
	-fx-fruit-color: #90cf7d;
	-fx-bread-color: #FDB827;
	-fx-meat-color: #f8a762;
	-fx-dairy-color: #e97577;
	-fx-cabinet-color: #b577b6;
	-fx-fridaycuddling-color: #4cbae6;
	-fx-main-color: #F3F3F3;
	
	-itempane-color: white;
	-buy-button-color: 	#b9d677;
	-main-text-color: #8C8C8C;
	-list-item-selected-color: #c1c1c1;
	-list-item-even-color: white;
	-list-item-odd-color: #f4f4f4;
	-header-color: #474747;
	-scroll-thumb-color: #737373;
}

.tab-pane .tab-pane .tab:selected,
.backdrop {
	-fx-background-color: -itempane-color;
}

#red {
	-fx-border-width: 1px;
	-fx-border-color: red;
}

.split-pane > .split-pane-divider {  
    -fx-border-width: 2.0;  
    -fx-background-color: rgba(0.0,0.0,0.0,0.0);
}

#shopping-cart-list .scroll-bar:horizontal .increment-arrow,
#shopping-cart-list .scroll-bar:horizontal .decrement-arrow,
#shopping-cart-list .scroll-bar:horizontal .increment-button,
#shopping-cart-list .scroll-bar:horizontal .decrement-button {
    -fx-padding:0.0;
}

.nav-button {
	-fx-background-color: transparent;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 1, 0.0 , 0 , 1 );

}

.base-style{
	-fx-background-color: -fx-main-color;
}

.history-button {
	-fx-background-color: #f4f4f4, #f4f4f4;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 3, 0, 0, 0;
    -fx-border-width: 0 0 0 0, 0, 0, 0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
.history-button .text {
	-fx-fill: black;
	-fx-font-size: 20 pt;
}
.history-button:hover {
	-fx-background-color: derive(f4f4f4, -10%);
}
.nav-button:hover {
	-fx-imageview: derive(f4f4f4, -10%);
}

/* Navigation button */
.navigation-button:disabled {
	-fx-opacity: 1;
}