
.shopping-cart-button {
	-fx-background-color: #f4f4f4, #f4f4f4;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 3, 0, 0, 0;
    -fx-border-width: 0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
.shopping-cart-button .text {
	-fx-fill: black;
	-fx-font-size: 20 pt;
}
.shopping-cart-button:hover {
	-fx-background-color: derive(f4f4f4, -10%);
	
}

.attribute-text-field .text {
	-fx-fill: #5E5E5E;
	-fx-font-size: 18pt;
}

#total-price-label .text {
	-fx-font-size: 20pt;
}

#cart-title-label .text {
	-fx-font-size: 24pt;
}

.list-view {
	-fx-background-color: white;
	-fx-border-width: 1px;
	-fx-border-color: derive(-list-item-even-color, -15%);
}

.list-view:selected {
	-fx-background-insets: 0;
	-fx-background-color: white;
}

.list-cell:even {
	-fx-background-color: -list-item-even-color;
}

.list-cell .text {
	-fx-fill: black;
}

.list-cell:odd {
	-fx-background-color: -list-item-odd-color;
}

