
/* DEFAULT COLORS: 
 * -tab-bg-color: #36750f;
 * -background-color: #6fc238;
 */
/* Configure colors here and use derivations elsewhere*/
.root {
	-fx-tab-bg-color: #36750f;
	-fx-back-color: #6fc238;
	-fx-start-color: #e0ebf2;
}

.tab:selected .tab-label {
	-fx-text-fill: #202b19;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18 pt;
    -fx-border-width: 2px;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: red red red red;
}

.tab-content-area {
	-fx-background-color: linear-gradient(to top, derive(-fx-back-color, 30%), derive(-fx-back-color,60%));
	-fx-padding: 0.0em; /* 0 */
}

.tab-header-background {
	-fx-opacity: 0;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-effect: null;
}

.tab {
	-fx-background-color: linear-gradient(to top, derive(-fx-tab-bg-color, 75%), derive(-fx-tab-bg-color, 90%));
	-fx-background-insets: 0, 1, 2;
	-fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
	-fx-padding: 0.083333em 0.5em 0.083333em 0.5em; /* 1 6 1 6 */
	
    -fx-focus-color: transparent ;
    -fx-faint-focus-color: transparent ;
}

.tab:selected {
    -fx-background-color: linear-gradient(to top, derive(-fx-back-color,60%), derive(-fx-back-color,85%));
	-fx-background-insets: 0, 1 1 0 1;
	-fx-background-radius: 5 5 0 0, 4 4 0 0;
}

.tab-pane:top *.tab-header-area 
{
-fx-background-insets: 0, 0 0 1 0;
-fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
}

.tab:hover {
	-fx-background-color: linear-gradient(to top, derive(-fx-tab-bg-color,90%), derive(-fx-tab-bg-color,110%));
}

.tab:selected:hover {
	-fx-background-color: linear-gradient(to top, derive(-fx-back-color,60%), derive(-fx-back-color,75%));
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overriden as 5 2 0 0 */
}

.button {
	-fx-background-color: linear-gradient(to top, derive(-fx-back-color, 25%), derive(-fx-back-color, 35%));
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0 0 0 0, 0, 0, 0;
    -fx-border-width: 0 0 0 0, 0, 0, 0;
}

.button:hover {
	-fx-background-color: linear-gradient(to top, derive(-fx-back-color, 35%), derive(-fx-back-color, 45%));
}


/* TAB COLOURS */
.startTabContent {
	-fx-background-color: -fx-start-color;
}

#startTab:hover {
	-fx-background-color: linear-gradient(to top, derive(-fx-start-color, 35%), derive(-fx-start-color, 45%));
}

#startTab:selected {
    -fx-background-color: -fx-start-color;
}