* {
	-fx-glass-color: rgba(111, 194, 56, 0.9);
	-fx-tab-bg-color: #36750f;
	-fx-back-color: #6fc238;
	-fx-start-color: #F8F8EC;
	-fx-fruit-color: #A8DBA8;
	-fx-bread-color: #F5DF98;
	-fx-meat-color: #CF4647;
	-fx-dairy-color: #e0ebf2;
	-fx-cabinet-color: #D6D3B2;
	-fx-fridaycuddling-color: #FFAAAA;
	
	-itempane-color: white;
	-buy-button-color: 	#ff3030;
}

.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#startTab { -fx-background-color: derive(-fx-start-color, -10%); }
.startTabContent { -fx-background-color: -fx-start-color; }
#startTab:hover { -fx-background-color: linear-gradient(to top, derive(-fx-start-color, 35%), derive(-fx-start-color, 45%)); }
#startTab:selected { -fx-background-color: -fx-start-color; }


#fruitTab { -fx-background-color: derive(-fx-fruit-color, -10%); }
.fruitTabContent { -fx-background-color: -fx-fruit-color; }
#fruitTab:hover { -fx-background-color: linear-gradient(to top, derive(-fx-fruit-color, 35%), derive(-fx-fruit-color, 45%)); }
#fruitTab:selected { -fx-background-color: -fx-fruit-color; }


#breadTab { -fx-background-color: derive(-fx-bread-color, -10%); }
.breadTabContent { -fx-background-color: -fx-bread-color; }
#breadTab:hover { -fx-background-color: linear-gradient(to top, derive(-fx-bread-color, 35%), derive(-fx-bread-color, 45%)); }
#breadTab:selected { -fx-background-color: -fx-bread-color; }


#meatTab { -fx-background-color: derive(-fx-meat-color, -10%); }
.meatTabContent { -fx-background-color: -fx-meat-color; }
#meatTab:hover { -fx-background-color: linear-gradient(to top, derive(-fx-meat-color, 35%), derive(-fx-meat-color, 45%)); }
#meatTab:selected { -fx-background-color: -fx-meat-color; }


#dairyTab { -fx-background-color: derive(-fx-dairy-color, -10%); }
.dairyTabContent { -fx-background-color: -fx-dairy-color; }
#dairyTab:hover { -fx-background-color: linear-gradient(to top, derive(-fx-dairy-color, 35%), derive(-fx-dairy-color, 45%)); }
#dairyTab:selected { -fx-background-color: -fx-dairy-color; }


#cabinetTab { -fx-background-color: derive(-fx-cabinet-color, -10%); }
.cabinetTabContent { -fx-background-color: -fx-cabinet-color; }
#cabinetTab:hover { -fx-background-color: linear-gradient(to top, derive(-fx-cabinet-color, 35%), derive(-fx-cabinet-color, 45%)); }
#cabinetTab:selected { -fx-background-color: -fx-cabinet-color; }


#fridaycuddlingTab { -fx-background-color: derive(-fx-fridaycuddling-color, -10%); }
.fridaycuddlingTabContent { -fx-background-color: -fx-fridaycuddling-color; }
#fridaycuddlingTab:hover { -fx-background-color: linear-gradient(to top, derive(-fx-fridaycuddling-color, 35%), derive(-fx-fridaycuddling-color, 45%)); }
#fridaycuddlingTab:selected { -fx-background-color: -fx-fridaycuddling-color; }